
.congratulationsWrapper{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 25%;
    font-size: 1.3em;
    font-weight: 700;
    color: black;
    text-align: center;
}

@media screen and (max-width: 480px) {
    
    .congratulationsWrapper{
        padding-bottom: 35%;
    }

}