/* root layout for finder */

.header{
  border-bottom: 2px solid #5B9240;
}

.finderHeader{
    
    font-weight: 800;
    color: #5B9240;
    display: flex;
    justify-content: flex-start;
    
    padding-bottom: .5%;
    width: 30%;

  }

.logoWrapper{
    
    padding-left: 1%;
   
    display: flex;
    justify-content: flex-start;
  }
  
  .navBarHeader{
    font-size: 1.4em;
    width: 50%;
    display: flex;
    align-items: center;
    align-content: center;
  }



  .flowerhunt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
  }

/* Css module for finder.tsx */



.loadingWrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.found{
  width: 60%;
  background-color: #cdeebc;
  display: flex;
  justify-content: flex-end;
  
}

.foundWrapper{
  background-color: azure;
  width: 30%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

.foundAside{
 padding-right: 1%;
 
}

.foundP{
  color: #5B9240;
  text-align: center;
  padding: 2%;
}


/* css for 'Flowerhunt' section  */

 

.finders{
  width:60%;
  min-height: 80vh;
  background-color: #cdeebc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 5%;
  padding-top: 2%;
}

.finders_alt{
  width:60%;
  background-color: #94bb81;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-top: 4%;
}

.flowerlistAside{

  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  
  margin-bottom: 3%;
  background-color: azure;
  
}

.flowerlistAside:hover{
  opacity: 85%;
  box-shadow: 1px 0px 15px 4px #5B9240;
    -webkit-box-shadow: 1px 0px 15px 4px #5B9240;
    -moz-box-shadow: 1px 0px 15px 4px #5B9240;
  border-radius: 5px;
}

.flowerhuntImage{
  margin: 5% 5%;
}

/* Question wrapper */

.questionModal{
  position: absolute;
  
  top: 30%;
  left: 30%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 40%;
  margin-bottom: 3%;
  background-color: azure;
  border: #5B9240 solid 2px;
  border-radius: 5px;

}



.finderQuestion{
    
  position: fixed;
  width: 75%;
}

.questionAside{
height: 100%;
width: 100%;

}

.resetandRestartWrapper{
  width: 60%;
  display: flex;
  justify-content: flex-start;
}

.rrIcon{
  padding: 1% 1% 1% 0;
  font-weight: 800;
  color: #5B9240;
}



@media screen and (max-width: 480px) {

  .finderHeader{
   
    padding-bottom: 2%;
    width: 45%;

  } 

  .navBarHeader{
    font-size: 1.2em;
    width: 40%;
    
  }
  
.found{
  display: flex;
  width: 100%;
}


.foundWrapper{
  
  width: 45%;
}

.foundAside{
  width: 40%
}

.finders{
  width: 100%;
  min-height: 75vh;
  padding-bottom: 1%;
 
}

.flowerlistAside{
  width: 70%;
}

.questionModal{
  width: 70%;
  left: 15%;
}

.resetandRestartWrapper{
  width: 98%;
}
  

}