/* Root layout CSS */



  /* Loading state CSS */

  .loadingWrapper{
    margin-top: 10%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  
.animateCont{
  display: flex;
  justify-content: center;
  width: 50%;
  height: 50%;
}

/* Root page css   */

.rootPageWrapper{
  margin-top: 10%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logoWrapper{
  
  padding-left: 1%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logoWrapper > h2{
  font-size: 2em;
  width: 30%;
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: 800;
  color: #5B9240;
}


.rootPageSection {
  margin-top: 5%;
  font-size: 1.3em;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
